@model IEnumerable<Forum.DataModels.ForumModel>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Id</td>
            <td>ImageUrl</td>
            <td>Action</td>
        </tr>
    </thead>
    @foreach (var forum in Model)
    {
        <tbody>
            <tr>               
                <td>@forum.Title</td>
                <td>@forum.Description</td>
                <td>@forum.Id</td>
                <td>@forum.ImageUrl</td>                
                <td><a class="btn btn-success" asp-controller="Forum" asp-action="Posts" asp-route-id="@forum.Id">View Posts</a></td>                
            </tr>

        </tbody>
    }

</table>