@model Forum.ViewModels.PostsViewModel
<div class="container text-dark">
    <div class="col-12">
        <div class="row">
            <div class="card mb-2 p-3">
                <h2><b>Posts on @Model.Forum.Title</b></h2>
                <h2><b>Forum Id: @Model.Forum.Id</b></h2>
                <img src="@Model.Forum.ImageUrl" class="img-thumbnail mb-2" style="height:50px;width:50px;">
                <a asp-controller="Posts" asp-action="Index" class="btn btn-outline-success" asp-route-id="@Model.ForumId">Create new post</a>
            </div>
        </div>

        <div class="row">

            @foreach (var post in Model.Posts)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <p><b>Date Created:</b>@post.Post.DateCreated.</p>
                        <p><b>Post ID:</b>@post.Post.Id</p>
                        <p><b>Title:</b>@post.Post.Title</p>
                        <p><b>Content:</b>@post.Post.Content</p>
                        <p><b>Post Type:</b>@post.Post.PostType</p>
                    </div>
                    <div class="card-footer">
                        @if (post.Post.PostReplies.Count() == 0)
                        {
                            <h1>No Comments Found!</h1>                           
                        }
                        <div class="row">
                            <div class="col-1">
                                <a class="btn btn-primary mb-2" data-toggle="collapse" href="#collapseExample_@post.Post.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    View Comments
                                </a>
                            </div>
                            <div class="col-1">
                                <a class="btn btn-outline-success" asp-action="Comment" asp-controller="Forum" asp-route-id="@post.Post.Id">Comment</a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample_@post.Post.Id">
                            <div class="card card-body">
                                <p>Total number of Comments: @post.Post.PostReplies.Count()</p>
                                @foreach (var reply in post.Post.PostReplies)
                                {
                                    <div class="card card-body m-3">
                                        <h6><b>Commented By: @reply.User.Fullname</b></h6>
                                        <ul class="list-group list-group-flush mt-5">
                                            <li class="list-group-item"><b>Comment:</b> @reply.ReplyContent</li>
                                            <li class="list-group-item"><b>Date Created:</b> @reply.DateCreated</li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
