@model Forum.ViewModels.PostsViewModel
<div class="container text-dark">
    <div class="col-12">
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <p>@post.Post.DateCreated.</p>
                        <p>@post.Post.Id</p>
                        <p>@post.Post.Title</p>
                        <p>@post.Post.Content</p>
                        <p>@post.Post.PostType</p>
                    </div>
                    @foreach (var reply in post.Post.PostReplies)
                    {
                        <div class="card card-body m-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@reply.ReplyContent</li>
                                <li class="list-group-item">@reply.User.Fullname</li>
                                <li class="list-group-item">@reply.DateCreated</li>
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
