@model Forum.DataModels.PostModel

<div class="text-center">
    <h1 class="display-4">@Model.Id</h1>   
    <h1 class="display-4">@Model.Content</h1>   
    <h1 class="display-4">@Model.DateCreated</h1>   
    <h1 class="display-4">@Model.PostType</h1>   
    <h1 class="display-4">@Model.Title</h1>   
</div>
